@import url("https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&family=Montserrat&display=swap");

/* HEX CODES:
#013026
#014760
#107e57
#a1ce3f
#cbe58e */

:root {
  --black: #000000;
  --green-500: #013026;
  --green-400: #014760;
  --green-300: #107e57;
  --green-200: #a1ce3f;
  --green-250: #a9fa80;
  --green-100: #cbe58e;
  --light-gray: hsl(100, 0%, 80%);
  --white: #fff;
  --primary: hsl(60, 10%, 10%);
  --secondary: hsl(60, 100%, 5%);
  --tertiary-color: hsl(60, 70%, 50%);
}
html {
  font-size: calc(0.7rem + 0.390625vw);
}

body {
  background-color: var(--black);
  background-image: url("./green-cosmos.jpg");
  background-size: cover;
  color: var(--green-100);
  font-family: "Montserrat", sans-serif;
}

h1,
h2,
h3 {
  font-family: "Kdam Thmor Pro", sans-serif;
  color: var(--green-100);
  text-align: center;
}
.container {
  min-height: 100vh;
  width: 95vw;
  margin: 0 auto;
  padding: 0 5vw;
  display: grid;
  grid-template-columns: 1fr;
  place-items: center center;
  gap: 1vh 1vw;
  /* From https://css.glass */
  /*   background: rgba(0, 0, 0, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(0, 0, 0, 0.3); */

  background-color: #0009;
  box-shadow: 0px 0px 16px 12px #0009;

  grid-template-areas:
    "h"
    "n"
    "m";
}

header {
  grid-area: h;
  text-align: center;
  position: sticky;
  top: 5px;
  background-color: #000a;
  box-shadow: 0px 0px 16px 12px #000a;
}

nav {
  display: flex;
  flex-direction: column;
  gap: 1vh 1vw;
}

main {
  grid-area: m;
  display: grid;
  grid-template-columns: 1fr;
  place-items: start center;
  gap: 1vh 1vw;
  grid-template-areas:
    "h2"
    "s";
}

h2 {
  grid-area: h2;
}

section {
  grid-area: s;
  display: grid;
  grid-template-columns: 1fr;
  place-items: start center;
  gap: 1vh 1vw;
}

nav {
  grid-area: n;
}

h1,
h2 {
  text-align: center;
}
.start-text {
  width: 60vw;
}

.menu-button {
  background-color: var(--green-250);
  color: black;
  border-radius: 10px;
  padding: 10px 10px;
}

.menu-button:hover {
  background-color: var(--green-250);
  color: black;
  border-radius: 10px;
  padding: 10px 10px;
  text-decoration: none;
}

a {
  color: var(--green-200);
  text-decoration: none;
}

a:hover {
  color: var(--green-300);
  text-decoration: underline;
}

figure img {
  margin: 0 auto;
  object-fit: cover;

  max-height: 40vh;
}

@media (min-width: 600px) {
  nav {
    flex-direction: row;
    gap: 1vh 1vw;
  }
  .container {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "h h"
      "n n"
      "m m";
  }
  section {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 1200px) {
  .container {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
      "h h h"
      "n n n"
      "m m m";
  }
  section {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

/*START option*/
@arrowColor: #ffcc00;
@arrow: escape('@{arrowColor}');

select {
  font-size: 1rem;
  background-color: #a9fa80;
  background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20256%20448%22%20enable-background%3D%22new%200%200%20256%20448%22%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E.arrow%7Bfill%3A@{arrow}%3B%7D%3C%2Fstyle%3E%3Cpath%20class%3D%22arrow%22%20d%3D%22M255.9%20168c0-4.2-1.6-7.9-4.8-11.2-3.2-3.2-6.9-4.8-11.2-4.8H16c-4.2%200-7.9%201.6-11.2%204.8S0%20163.8%200%20168c0%204.4%201.6%208.2%204.8%2011.4l112%20112c3.1%203.1%206.8%204.6%2011.2%204.6%204.4%200%208.2-1.5%2011.4-4.6l112-112c3-3.2%204.5-7%204.5-11.4z%22%2F%3E%3C%2Fsvg%3E%0A");
  background-position: right 10px center;
  background-repeat: no-repeat;
  background-size: auto 50%;
  border-radius: 10px;
  border: none;
  color: #000;
  padding: 10px 30px 10px 10px;

  outline: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  /*   &::-ms-expand {
    display: none;
  } */
}

/*END option*/
