@import url("https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&family=Montserrat&display=swap");

/* HEX CODES:
#013026
#014760
#107e57
#a1ce3f
#cbe58e */

:root {
  --black: #000000;
  --green-500: #013026;
  --green-400: #014760;
  --green-300: #107e57;
  --green-200: #a1ce3f;
  --green-100: #cbe58e;
  --light-gray: hsl(100, 0%, 80%);
  --white: #fff;
  --primary: hsl(60, 10%, 10%);
  --secondary: hsl(60, 100%, 5%);
  --tertiary-color: hsl(60, 70%, 50%);
}
html {
  font-size: calc(0.7rem + 0.390625vw);
}

body {
  background-color: var(--black);
  color: var(--green-100);
  font-family: "Montserrat", sans-serif;
}

h1,
h2,
h3 {
  font-family: "Kdam Thmor Pro", sans-serif;
  color: var(--green-100);
  text-align: center;
}

.container {
  margin: 0 auto;
  /*   width: 90vw; */
  margin-right: 2vw;
  display: grid;
  grid-template-columns: 3fr;
  grid-template-areas:
    "h h"
    "c m";
}

header {
  grid-area: h;
  text-align: center;

  position: sticky;
  top: 5px;
  background-color: #000;

  box-shadow: 0px 0px 16px 12px #000000;
}

main {
  grid-area: m;
  margin-left: 2vw;
}
nav.nav--const {
  background-color: var(--black);
  grid-area: c;
}

nav.nav--menu {
  margin: 20px;
}

nav.nav--menu a {
  text-decoration: none;
  background-color: var(--green-200);
  border-radius: 25px;
  padding: 5px 10px;
  color: var(--green-500);
}

nav.nav--menu a:hover {
  background-color: var(--green-400);
  color: var(--green-100);
}

a {
  color: var(--green-200);
  text-decoration: none;
}

a:hover {
  color: var(--green-300);
  text-decoration: underline;
}

/*main START*/

.figure img {
  margin: 0 auto;
  object-fit: cover;
  max-height: 40vh;
  min-height: 40vh;
}

.figure figcaption {
  font-size: 0.6rem;
}

.figure-const img {
  background: var(--green-100);
  border-radius: 25px;
  padding: 10px;
  margin-bottom: 5px;
  box-shadow: 0px 0px 5px 3px #cbe58e;
}

section.section--main {
  display: grid;
  grid-template-columns: 1fr;
  place-items: start center;
  gap: 2vw 2vh;
}

@media (min-width: 900px) {
  section.section--main {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 1400px) {
  section.section--main {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

/*main END*/

/*Sidebar START*/
/* The sidepanel menu */
.sidepanel {
  height: 100vh; /* Specify a height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0;
  left: 0;
  background-color: var(--green-500);
  overflow-x: hidden; /* Disable horizontal scroll */
  /*   margin-top: -20px;
  margin-bottom: 20px; */

  transition: 0.5s;
}

/* The sidepanel links */
.sidepanel a {
  padding: 2px 8px 2px 32px;
  text-decoration: none;
  font-size: 1rem;
  /*   color: var(--green-200); */
  display: block;
  /*   transition: 0.3s; */
}

/* When you mouse over the navigation links, change their color */
.sidepanel a:hover {
  color: var(--green-300);
}

/* Position and style the close button (top right corner) */
.sidepanel .closebtn {
  position: absolute;
  top: 60px;
  /*   right: 45px; */
  font-size: 36px;
  margin-left: 150px;
  position: sticky;
}

/* Style the button that is used to open the sidepanel */
.openbtn {
  cursor: pointer;
  background-color: #111;
  /*   color: var(--white); */
  padding: 10px 15px;
  border: none;
}

.openbtn:hover {
  background-color: #444;
}
/*Sidebar END*/

@media (min-width: 800px) {
  #mySidepanel {
    width: 210px; /* 0 width - change this with JavaScript */
    z-index: 0; /* Stay on top */
    position: static; /* Stay in place */
    left: auto;
    top: auto;
  }
}

@media (max-width: 480px) {
  nav.nav--menu {
    display: flex;
    flex-direction: column;
    gap: 2px;
  }

  nav.nav--menu a {
    width: 50%;
    margin: 0 auto;
    font-size: 5vw;
  }
}
